@import "tailwindcss";

/*  */

/* @theme {
  --color-grape: #32a
}

.coin {
  @apply text-grape bg-amber-100 rounded-lg
} */

@theme{
     
}
.body{
  color: #abb2bf;
        background-color: #161318;
        background-color: #101010;
          color: #abb2bf;
          color: #828282;
            border-color: #c778dd;
            border-color: #bf7bec;
            border-color: #9e3dc1;
            border-color: #be0eec;
            border-color: #d1330e;
            border-color: #d74115;
            border-color: #ff5e17;
            
}